params {
    bam_folder = false
    output_dir = false
    pathseq_dir = false
    spaceranger_bam_path = "outs/possorted_genome_bam.bam"
    spaceranger_barcodes_path = "outs/raw_feature_bc_matrix/barcodes.tsv.gz"

    pathseq_mem_gb = 120
    pathseq_cpus = 8

    container__pathseq = "broadinstitute/gatk:4.3.0.0"
    container__python = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"
}